h1 {
	font-size: 28px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}

p {
	color: #777;
}

.box {
	margin-top: 40px;
	box-shadow: 0 0 14px #bebebe;
	padding: 15px 10px;
	margin-bottom: 40px;
}